@font-face{
	font-family:'Fedra';
	src:url('/fonts/TEXTE/FedraSansPro/FedraSansPro-Book.otf') format('otf'), 
	url('/fonts/TEXTE/FedraSansPro/FedraSansPro-BookItalic.otf') format('otf'), 
	url('/fonts/TEXTE/FedraSansPro/FedraSansPro-Medium.otf') format ('otf'), 
	url('/fonts/TEXTE/FedraSansPro/FedraSansPro-MediumItalic.otf') format('otf');
}

@font-face{
	font-family:'Hold';
	src:url('/fonts/TITRE/Hold Fast Foundry - Gin.otf') format('otf');
}

body{
	color: #282828;
	font-size: 14px;
	line-height: 1.5;
	margin:0px;
	padding:0px;
}


.container h2{
	font-family:"Hold", arial;
}


.entete {
	background-color: white;
	opacity: 0.5;
	padding:30px;
	-webkit-transition: opacity 0.5s ease-in-out;/* transition pour Chrome et Safari */
	-moz-transition: opacity 0.5s ease-in-out;/* transition pour Firefox */
	-o-transition: opacity 0.5s ease-in-out;/* transition pour Opéra */
	transition: opacity 0.5s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */
	margin-top:-30px;
	margin-left:-50px;
}
	

.entete:hover {
	opacity: 0.98;
	}

.logo{
	position: relative;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 15%;
	margin-right: 20px;
	padding: 0;	
}

.reseaux{
	display: inline-block;
	vertical-align: top;
	left: 100px;
	box-sizing: border-box;
	margin-top: 80px;
	position: relative;
	width: 15%;
	} 

.reseaux img{
	padding:0;
	margin-right: 10px;
	margin-left: 10px;
}

.logoNav{
	margin-left:50px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 25px;
}

.bold{
	font-weight:bold;
}

nav {
	width: 60%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	box-sizing: border-box;
	margin-top: 97px;
}

nav ul {
	margin:0;
	height: 25%;
	position: relative;
	margin-left: 20px;
}


nav ul li{
	display:inline;
	padding-bottom: 10px;
	margin-left:100px;
	font-weight: bold;
	font-family: "Roboto Slab",serif;
	font-size:20px;
}

nav ul li:hover{
	border-bottom: solid 1px red;
	cursor:pointer;
}

.clear{
	clear:both;
}


.surground{
	width:104.05%;
	height:442px;
	background-color:darkred;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	position:relative;
	margin-left:-50px;
}

video{
position:absolute;
margin-top:-30px;
margin-left:-50px;	
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: white;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

iframe{
        width: 100% !important;
}

footer {
  padding: 20px 0;
}
footer .asides {
  margin-bottom: 20px;
}
footer aside {
  margin-bottom: 10px;
}
footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
footer nav li {
  display: inline-block;
}
footer nav a {
  display: block;
  margin: 0 5px;
  color: #fff;
}
footer .logo {
  text-align: center;
}
footer .logo img {
  display: inline-block;
  vertical-align: middle;
}
footer .copyright {
  text-align: center;
}
footer .copyright small {
  color: #fff;
  font-size: 12px;
}
footer .copyright a {
  color: #818181;
}

@media all and (min-width: 600px) {
  footer aside {
    margin-bottom: 0;
    float: left;
    width: 33.3333%;
  }
  footer nav ul {
    text-align: left;
  }
  footer nav li {
    display: block;
  }
  footer nav a {
    display: inline-block;
    margin: 0;
  }
  footer .logo {
    text-align: right;
  }
}

