@font-face{
	font-family:"Fedra";
	src:url('../fonts/TEXTE/FedraSansPro/FedraSansPro-Book.otf');
	font-weight:normal;
}

@font-face{
	font-family:"Fedra Italic";
	src:url('../fonts/TEXTE/FedraSansPro/FedraSansPro-BookItalic.otf');
	font-weight:italic;
}

@font-face{
	font-family:"Fedra Bold";
	src:url('../fonts/TEXTE/FedraSansPro/FedraSansPro-Medium.otf');
	font-weight:bold;
}

@font-face{
	font-family:"Fedra Bold Italic";
	src:url('../fonts/TEXTE/FedraSansPro/FedraSansPro-MediumItalic.otf');
	font-weight:bold;
}

@font-face{
	font-family:"Hold";
	src:url('../fonts/TITRE/HoldFast.otf');
	font-weight:normal;
}

@font-face {
    font-family: '../fonts/Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol{
	font-size:40px;
}

.symbol a:hover{
	cursor:pointer;
	color:red;
}

.symbol, a.symbol:before {
    font-family: '../fonts/Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
	content: attr(title);
	margin-right: 0.3em;
	font-size: 130%;
}

.symbol a {
	text-decoration: none;
	color:black;
}
					
body{
	width:100%;
	color: #282828;
	font-size: 14px;
	line-height: 1.5;
	margin:0px;
	padding:0px;
}


.up{
	float:right;
	margin-right:60px;
	margin-top:-75px;
}

.up:hover{
	cursor:pointer;
}

.partenaire{
	width: 90%;
	margin-left:5%;
}

.partenaire img{
	width:6%;
	margin-right:6%;
}

.acces{
	margin-top:50px;
	margin-bottom:50px;
}


.container h2{
	font-family:"Hold", arial;
	color:red;
}

.container p{
	font-family:"Fedra", arial;
}

header {
	background-color: black;
	height: 100%;
}

.audio{
	position:relative;
	z-index:1;
	margin:auto;
}


audio{
	width:21%;
	margin-left:0%;
	margin-right:0%;
	margin-top: 0;
	margin-bottom:-6px;
	padding-left: 39.5%;
	padding-right: 39.5%;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	z-index: 10;
	background-color: black;
	opacity: 1;
}

.plusgrand {
	height: 35px;
	width: 500px; 
}

.pluspetit a {
	font-size: 20px;
	color:white;
}

.entete {
	position: relative;
	background-image:url(../img/fondwebtexte.jpg);
	background-size:cover;
	opacity: 0.3;
	padding:auto;
	-webkit-transition: opacity 0.5s ease-in-out;/* transition pour Chrome et Safari */
	-moz-transition: opacity 0.5s ease-in-out;/* transition pour Firefox */
	-o-transition: opacity 0.5s ease-in-out;/* transition pour Opéra */
	transition: opacity 0.5s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */
	margin-top:0;
/*margin-left:-50px;*/
	width: 100%;
	box-sizing: border-box;
	margin-top:-20px;
	z-index: 100;
}
	

.entete:hover {
	opacity: 1;
	}

.headwarper {
	text-align: center;
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
}

.logoheader {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 25%;
	padding: 0;
	margin-left: 5%;	
	margin-right: 5%;	
}

.reseaux1, .reseaux2 {
  	width: 5%;
	display:inline-block;
	vertical-align:middle;
	box-sizing:border-box;	
	margin-left:5%;
	margin-right:5%;
	text-align: center;
} 


.reseaux1 span, .reseaux2 span {
		display:block;
}

.wrapperNav{
	width: 65%;
	display:inline-block;
	vertical-align:middle;
	box-sizing:border-box;
	margin: auto;	
}

.logoNav {
	display: block;
	position: relative;
	margin-top: 20px;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
}

.bold {
	font-weight:bold;
}

.nav1 nav ul {
	margin:0;
	position: relative;
	text-align: right;
}


.nav1 nav ul li {
	list-style-type:none;
	padding-bottom: 20px;
	font-weight: bold;
	font-family: "Hold",serif;
	font-size:20px;
	margin:0;
	line-height:1.5em;
}

nav ul li:first-child{
	margin-bottom:4%;
	margin-top:8%;

	
}

nav ul li a {
	text-decoration:none;
	color:black;
}

.nav1, .nav2 {
	display:inline-block;
	vertical-align:middle;
	box-sizing:border-box;
	list-style-type:none;
	left: 0;
	width: 30%;
}

.nav2 nav ul {
        position: relative;
        margin: 0;
				padding-left: 0;
				text-align: left;
}

.nav2 nav ul li{
        list-style-type:none;
        padding-bottom: 20px;
        font-weight: bold;
        font-family: "Hold",serif;
        font-size:20px;
				line-height:1.5em;
        /*padding-left:0px;*/
}

nav ul li a:hover{
	color:red;
	cursor:pointer;
}

.clear{
	clear:both;
}


.surground{
	position:relative;
	width:100%;
	height:450px;
	background-color: darkred;
	opacity: 0.5;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	margin-left:0px;
	z-index: 3;
}

video{
	position: absolute;
	margin:0px;
	z-index: 0;	
}

.wrapper {
	width: 100%;
 	margin: 0 auto;
}

main {
	position: relative;
	display: block;
	background-color: white;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	text-align:justify;
}

.part1 {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

.widgets {
	display: block;
	margin-top: 3%;
	text-align: center;
}

.widgets .twitter, .widgets .fb {
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
	height: auto;
	width: 35%;
	vertical-align: top;
}



.part1bis{
	display:inline-block;
	vertical-align:middle;
	box-sizing:border-box;
	width:29%;
	font-size:12px;
}

.part2 {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	box-sizing: border-box;
	margin-left:19%;
	margin-top: 11%;
}

.part2 img {
	border: 4px dashed red;
	border-radius: 10px;
}

.part3 {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	box-sizing: border-box;
}

.part4{
	display:inline-block;
	vertical-align:middle;
	box-sizing:border-box;
	width:70%;	
	font-size:12px;
	text-align:right;
}

.part1 p, .part3 p{
	line-height:80%;
}

.parallax-1, .parallax-2, .parallax-3, .parallax-4 {
	-moz-box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.5);
	-o-box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.5);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=90, Strength=5);
}


.logos {
	margin-top: 3%;
}
	

.slider {
	width: 50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.texte1{
	position: relative;
	background-image:url(../img/fondslide1.jpg);
	background-size:cover;
	z-index: 10;
	margin-top: 0;
		-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5) ;
		-webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=180, Strength=5);
}

.texte2{
	position: relative;
	z-index: 10;
	background-image:url(../img/fondslide2.jpg);
	background-size:cover;
		-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5) ;
		-webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=180, Strength=5);
}

.texte3{
	position: relative;
	z-index: 10;
	background-image:url(../img/fondslide3.jpg);
	background-size:cover;
		-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5) ;
		-webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
		-o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=180, Strength=5);
}

.texte4{
	background-image:url(../img/fondwebtexte.jpg);
	background-size:cover;
}

.col1{
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
	width:31%;
	margin-right:18%;
}

.col2{
	width:100%;
}


.sub{
	font-family:"Hold", arial;
}

.red{
	color:red;
	font-weight:bold;
}

.black{
	color:black;
}


p a{
	text-decoration:none;
	color:red;
	font-weight:bold;
}

p a:hover{
	color:darkred;
}

footer {
	max-height: 50px;
  padding-bottom: 20px;
	font-family:"Fedra";
	background-image: url(../img/fondnegatif.jpg);
	background-size: cover;
	color: white;
}
footer .asides {
  margin-bottom: 20px;
}
footer aside {
  margin-bottom: 10px;
}
footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
footer nav li {
  display: inline-block;
}
footer nav a {
  display: block;
  margin: 0 5px;
  color: #fff;
}
footer .logo {
  text-align: center;
}
footer .logo img {
  display: inline-block;
  vertical-align: middle;
}
footer .copyright {
  text-align: center;
}
footer .copyright small {
  color: #fff;
  font-size: 14px;
}
footer .copyright a {
  color: #818181;
}

@media all and (min-width: 600px) {
  footer aside {
    margin-bottom: 0;
    float: left;
    width: 33.3333%;
  }
  footer nav ul {
    text-align: left;
  }
  footer nav li {
    display: block;
  }
  footer nav a {
    display: inline-block;
    margin: 0;
  }
  footer .logo {
    text-align: right;
  }
}

@media all and (min-width: 341px) and (max-width: 1299px) {

	.part1, .part2 {
		display: block;
		width: 100%;
	}
	
	.part2 {
		text-align: center;
		margin-top:5%;
		margin-bottom: 5%;
		margin-left: 0;
		margin-right: 0;		
	}
	
	.reseaux1, .reseaux2 {
		margin-top: 3%;
	}

	.reseaux1 span, .reseaux2 span {
			position: relative;
			margin-bottom: 50%;
	}
}


@media all and (max-width: 1531px) {
	
	.nav1 nav ul {
		padding-left:0;
		width: 110%;
		margin-left: -10%;
	}


	.nav2 nav ul {
		padding-left:0;
		width: 110%;
		margin-left: 0%;
	}

}

@media all and (max-width: 340px) {
	.part1, .part2 {
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-left: 0;
		
	}

	.part2 img {
		width: 60%;
	}
	
	.container {
		position: relative;
		width: 80%;
	}

	.part3  {
		display: block;
		max-width: 80%;
	}
	
	.part3 p {	
		font-size: 10px;
	}
}

@media all and (max-width: 600px) {
	
	.container {
		position: relative;
		width: 80%;
	}

	.part2 img {
		width: 60%;
	}
}	
